body{
    margin:0;
    padding:0;
    color:white;
    background-color: #000000;
    width:100vw;
    height:100vh;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */

   
}
.background {
    background-image: url('/sources/imgs/logo3.png'); /* Replace with your image path */
    background-size: 170px;
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    opacity: 0.2;
    transition: opacity 1s ease; /* Adjust the duration and easing as needed */
}

.show-background {
    opacity: 1;
}
#glowbox {
    width: 169px;
    height: 169px;
    border-radius: 100%;
    color: #000000;
    transition: box-shadow 1s ease; /* Adjust the duration and easing as needed */
}

.initial-shadow {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.final-shadow {
    box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.7);
}
h1 {
    margin-top: 67px;
    margin-bottom: 67px;
    text-align: center;
}

.name{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: 0.2s;

}
.name:hover{
    transition: 0.2s;
    font-size: 32px;

}


/*------------------------------------navbar------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the navigation list */
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.nav-list li {
    margin: 0 15px;
}

/* Style the navigation links */
.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.nav-list li a:hover {
    text-decoration: underline;
}

.dot{
    width: auto;
}


