body{
    margin:0;
    padding:0;
    color:white;
    height: 100%;
    background-color: #000000;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}
.centered-container2 {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
   
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
}
.centered-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */

}


.background {
    /*background-image: url('/sources/imgs/blackhole.png'); /* Replace with your image path */
    background-size: 170px;
    
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    opacity: 0.2;
    transition: opacity 1s ease; /* Adjust the duration and easing as needed */
}

.show-background {
    opacity: 1;
}
#glowbox {
    width: 169px;
    height: 169px;
    border-radius: 100%;
    color: #000000;
    transition: box-shadow 1s ease; /* Adjust the duration and easing as needed */
}

.initial-shadow {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.final-shadow {
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.7);
}
h1 {
    margin-top: 67px;
    margin-bottom: 67px;
    text-align: center;
}

.name{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: 0.2s;

}
.name:hover{
    transition: 0.2s;
    font-size: 32px;

}

/*------------------------------------content------------------------------------*/
.content{
    height: auto;
}


/*------------------------------------achievements------------------------------------*/
#ach{
    width: 100%;
    height: auto;
}

#ach h2{
    margin-bottom: 2%;
    font-size: 34px;
    text-align: center;
}
.box h2{
    color: rgb(175, 0, 0);
}
#boxes{
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}
.box{
    margin-top: 4%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.element{
    width: 50%; /* Each div takes 50% of the container's width */
    padding: 20px;

}
.element img,iframe{
    filter: brightness(0.6); /* Adjust the value as needed, e.g., 0.7 for less brightness */

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    min-width: 80%;
    width:100%;
    max-width:500px !important;
    border-radius: 10px;
    border-color: #fffbfb;
    border-width: 3px;
    border-style:solid;
}
.element iframe{
    height: 90%;
}
.element ul li h2{
    font-size: 25px !important;

}
.element ul li a{
    color: #cdcccc;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;

}
.element ul li{
    padding: 10px;
    font-size: 18px;
}
.more{
    font-style: italic;
    color: rgb(179, 179, 179);
}
.element ul li a:hover{
    color: #747373;
    text-decoration: underline;
    transition: 0.2s;

}

@media (max-width: 768px) {
    .col-6 img, iframe{
        width: 100%; /* Make columns full-width on screens smaller than 768px */
    }
}
.box {
    display: flex;
    flex-wrap: wrap;
  }
  
  .element {
    flex: 1;
    min-width: 250px; /* Set a minimum width for each box */
    margin: 10px; /* Add some spacing between the boxes */
    padding: 10px;
  }
  .element ul{
    list-style: none;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 559px) {
    .swap:nth-child(1) {
      order: 2; /* Swap Box 1 and Box 2 */
    }
    
    .swap:nth-child(2) {
      order: 1; /* Swap Box 1 and Box 2 */
    }
  }
  
/*------------------------------------navbar------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the navigation list */
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.nav-list li {
    margin: 0 15px;
}

/* Style the navigation links */
.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}

.nav-list li a:hover {
    text-decoration: underline;
}

.dot{
    width: auto;
}
.socials a:hover{
    width: 36px;
    height: 36px;
    background-color: red;
}
